@import "./variables.scss";

body {
    overflow-x: hidden;
}

.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    padding: 50px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    .left-side {
        display: flex;
        align-items: center;
        gap: 4px;
        .header-contact-title {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 44px;
            text-transform: uppercase;
            color: $main-alt;
        }
    }
    .right-side {
        .top-box {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: $grey-text;
            .address {
                white-space: nowrap;
            }
            .dropdown-menu-lang {
                display: flex;
                justify-content: flex-end;
                width: 150px;
            }
            .dropdown-menu-lang ul {
                list-style: none;
                display: none;
            }
            .dropdown-menu-lang ul li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 25px;
                cursor: pointer;
            }
            .dropdown-menu-lang ul li:hover {
                background: $accent;
                border-radius: 8px;
                a {
                    color: $basic-white;
                }
            }
            .dropdown-menu-lang ul li a {
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $grey-text;
                letter-spacing: 1px;
            }
            .dropdown-menu-lang .title-lang {
                width: 33px;
                height: 25px;
                background: $accent;
                border-radius: 8px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $basic-white;
                letter-spacing: 1px;
                cursor: pointer;
            }
            .dropdown-menu-lang.open {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 6px;
            }
            .dropdown-menu-lang.open .title-lang {
                width: 33px;
                height: 25px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $basic-white;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .dropdown-menu-lang.open ul {
                align-items: flex-end;
                display: flex;
                flex-direction: row;
                gap: 6px;
            }
            .number-link a {
                font-weight: $bold;
                color: $grey-text;
                text-decoration: none;
                white-space: nowrap;
            }
            .dot {
                width: 6px;
                height: 6px;
                background-color: $grey-separator;
                border-radius: 50%;
            }
        }
        .bottom-box {
            padding-top: 18.5px;
            ul {
                display: flex;
                gap: 15px;
                justify-content: flex-end;
                a {
                    color: $active-regular;
                    text-decoration: none;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: $bold;
                    font-size: 16px;
                    line-height: 20px;

                    &:hover {
                        color: $accent;
                        border-bottom: 2px solid $accent;
                    }
                }
            }
        }
    }
}

#burger-menu {
    cursor: pointer;
    display: none;

    overflow: visible;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: $main-regular;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu:hover span::after,
#burger-menu:hover span::before,
#burger-menu:hover span {
    background-color: $accent;
}

#burger-menu span {
    right: 15px;
    top: 25px;
    width: 27px;
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 25px;
    width: 27px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

.block {
    display: block !important;
}

.form-section {
    padding: 60px 120px;
    display: flex;
    width: 100%;
    gap: 60px;
    .form-for-client {
        width: 50%;
        padding: 30px;
        background-color: $grey-bg;
        border-radius: 12px;
        .title-text {
            font-size: 30px;
            line-height: 37px;
        }
        .subtitle-text {
            color: $grey-text;
        }
        form {
            margin-top: 15px;
            .field:last-child {
                box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                border-radius: 12px;
                background-color: $active-regular;
                margin-top: 30px;
                &:hover {
                    background-color: $active-hover;
                }
                &:active {
                    background-color: $active-active;
                }
            }
            .field:nth-child(2) textarea {
                height: 100px;
                width: 100%;
                resize: none;
                outline: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: $grey-text;
                width: 100%;
                padding: 15px;
                border: 1px solid $basic-white;
                border-radius: 8px;
                &:active,
                &:focus,
                &:hover {
                    border: 1px solid $active-regular;
                }
            }
            label {
                display: block;
                padding-top: 15px;
                input {
                    outline: none;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: $grey-text;
                    width: 100%;
                    padding: 15px;
                    border: 1px solid $basic-white;
                    border-radius: 8px;
                    &:active,
                    &:focus,
                    &:hover {
                        border: 1px solid $active-regular;
                    }
                }
            }
            .form-for-client-subtitle {
                margin-top: 30px;
            }
            .button {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: $basic-white;
                padding-top: 18px;
                padding-bottom: 18px;
                cursor: pointer;
            }
        }
    }
    .form-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        .address {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            color: $main-regular;
        }
        .separator {
            background-color: $grey-separator;
            height: 4px;
            width: 100%;
        }
        .contact {
            display: flex;
            flex-direction: column;
            gap: 15px;
            a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 21px;
                line-height: 30px;
                color: $main-alt;
                text-decoration: none;
                &:nth-child(2) {
                    color: $active-regular;
                }
            }
        }
        .social {
            display: flex;
            gap: 10px;
            align-items: center;
            .fb-link-text {
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $active-regular;
            }
            &:hover .fb-link-text {
                color: $accent;
            }
            &:hover .fb-link-icon svg path {
                fill: $accent;
            }
        }
    }
}

.footer {
    padding: 30px 60px;
    background-color: $grey-bg;
    display: flex;
    justify-content: space-between;
    .footer-right-side p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $grey-text;
    }
    .footer-left-side {
        display: flex;
        flex-direction: column;
        gap: 21px;
        .footer-left-side-top {
            display: flex;
            align-items: center;
            gap: 10px;
            .footer-address {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $main-regular;
            }
            .footer-link-map a {
                color: $active-regular;
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover {
                    color: $accent;
                }
            }
            .footer-dot {
                width: 6px;
                height: 6px;
                background-color: $grey-separator;
                border-radius: 50%;
            }
        }
        .footer-left-side-bottom {
            display: flex;
            align-items: center;
            gap: 10px;

            .footer-number-link a {
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $main-alt;
            }

            .footer-number-email a {
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $active-regular;
                &:hover {
                    color: $accent;
                }
            }
            .footer-dot {
                width: 6px;
                height: 6px;
                background-color: $grey-separator;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
        .left-side .header-contact-title {
            font-size: 30px;
        }
    }
    .form-section {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 900px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
        .left-side .header-contact-title {
            font-size: 20px;
        }
    }
    .form-section {
        padding-left: 60px;
        padding-right: 60px;
    }
}



@media (max-width: 768px) {
    .header {
        padding-top: 20px;
        flex-direction: column-reverse;
        .right-side .bottom-box ul {
            position: absolute;
            top: 180px;
        }
    }
    .form-section {
        padding-top: 100px;
        flex-direction: column;
        .form-info {
            width: 100%;
        }
        .form-for-client {
            width: 100%;
        }
    }
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .header .right-side .top-box {
        .address {
            display: none;
        }
        .dot:nth-child(2) {
            display: none;
        }
    }
    .footer {
        flex-direction: column;
        gap: 15px;
        .footer-dot {
            display: none;
        }
    }
}

@media (max-width: 461px) {
    .header {
        padding: 0px;
        .left-side {
            width: 100%;
            padding-right: 15px;
            margin-top: 15px;
            margin-left: 15px; 
        }
        .right-side {
            .top-box {
                padding: 10px;
                background: $grey-bg;
                justify-content: space-between;
            }
            .bottom-box {
                ul {
                    right: 15px;
                    top: 80px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .header .right-side .top-box .dropdown-menu-lang {
        justify-content: flex-start;
        width: fit-content;
    }
    .header .right-side .top-box .number-link {
        display: block;
        width: fit-content;
    }

    .header .right-side ul.top-box li .lang-menu {
        display: block;
        width: fit-content;
    }

    .header .right-side .top-box .dot {
        display: none;
    }
    .header .right-side .top-box .fb-header {
        display: none;
    }

    .header .left-side {
        img {
            display: block;
            width: 12px;
        }
        a img {
            display: block;
            width: 70px;
        }
    }
    .header .right-side .bottom-box {
        padding-top: 0px;
        display: none;
        ul {
            right: 35px;
            top: 80px;
            li a {
                font-size: 14px;
            }
        }
    }
    #burger-menu {
        display: block;
    }
    .footer {
        .footer-left-side {
            .footer-left-side-bottom {
                flex-direction: column;
            }
            .footer-left-side-top {
                justify-content: center;
            }
        }
        .footer-right-side {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin-top: 10px;
            }
        }
    }
}
