// COLORS

// main start
$main-regular: #323264;
$main-alt: #46466e;
$main-soft: #686887;
// main end

// white start
$basic-white: #ffffff;
// white end

//black start
$basic-black: #000000;
//black end

// accent start
$accent: #f0145a;
// accent end

// active start
$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
// active end

// grey start
$grey-bg: #f5f5fa;
$grey-bg-alt: #ededf7;
$grey-text: #b3b3ba;
$grey-separator: #e6e6f0;
// grey end

// font weight start
$bold: 700;
// font weight end

// MIXINS

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// templates
* {
    box-sizing: border-box;
}

.gradient-supersoft {
    position: relative;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}

.wrapper {
    padding: 0 60px;
}

.hero {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #323264;
}

.h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
body {
    overflow-x: hidden;
}
.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 50px 60px 0 60px;
    z-index: +1;

    .left-side {
        & a {
            display: block;
            width: fit-content;
        }
    }

    .right-side {
        .top-box {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: $basic-white;
            .dropdown-menu-lang {
                display: flex;
                justify-content: flex-end;
                width: 150px;
            }
            .dropdown-menu-lang ul {
                list-style: none;
                display: none;
            }
            .dropdown-menu-lang ul li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 25px;
                cursor: pointer;
            }
            .dropdown-menu-lang ul li:hover {
                background: $accent;
                border-radius: 8px;
            }
            .dropdown-menu-lang ul li a {
                text-decoration: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $basic-white;
                letter-spacing: 1px;
            }

            .dropdown-menu-lang .title-lang {
                width: 33px;
                height: 25px;
                background: $accent;
                border-radius: 8px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $basic-white;
                letter-spacing: 1px;
                cursor: pointer;
            }

            .dropdown-menu-lang.open {
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 6px;
            }
            .dropdown-menu-lang.open .title-lang {
                width: 33px;
                height: 25px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $basic-white;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .dropdown-menu-lang.open ul {
                align-items: flex-end;
                display: flex;
                flex-direction: row;
                gap: 6px;
            }

            .number-link a {
                font-weight: $bold;
                color: $basic-white;
                text-decoration: none;
            }

            .dot {
                width: 6px;
                height: 6px;
                background-color: $grey-separator;
                border-radius: 50%;
            }
        }

        .bottom-box {
            padding-top: 18.5px;
            ul {
                display: flex;
                gap: 15px;
                justify-content: end;
                a {
                    color: $basic-white;
                    text-decoration: none;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: $bold;
                    font-size: 16px;
                    line-height: 20px;

                    &:hover {
                        color: $accent;
                        border-bottom: 2px solid $accent;
                    }
                }
            }
        }
    }
}

#burger-menu {
    cursor: pointer;
    display: none;

    overflow: visible;
    position: relative;
    z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: $basic-white;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu:hover span::after,
#burger-menu:hover span::before,
#burger-menu:hover span {
    background-color: $accent;
}
#burger-menu span {
    right: 15px;
    top: 25px;
    width: 27px;
}
#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 25px;
    width: 27px;
}
#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}
.block {
    display: block !important;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 30px 0 30px;
        flex-direction: column-reverse;
        .right-side .bottom-box ul {
            position: absolute;
            top: 180px;
        }
    }
}

@media (max-width: 597px) {
    .header .right-side .top-box .address {
        display: none;
    }
    .header .right-side .top-box .dot:nth-child(2) {
        display: none;
    }
}

@media (max-width: 555px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 461px) {
    .wrapper {
        padding: 0 30px;
    }
    .header {
        padding: 0px;

        .left-side {
            width: 100%;
            padding-right: 15px;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            margin-left: 15px;
        }

        .right-side {
            .top-box {
                padding: 10px;
                background-color: rgba(245, 245, 250, 0.2);
                justify-content: space-between;
            }
            .bottom-box {
                & ul {
                    right: 15px;
                    top: 80px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .header .right-side .top-box .dropdown-menu-lang {
        justify-content: flex-start;
        width: fit-content;
    }
    .header .right-side .top-box .number-link {
        display: block;
        width: fit-content;
    }

    .header .right-side ul.top-box li .lang-menu {
        display: block;
        width: fit-content;
    }

    .header .right-side .top-box .dot {
        display: none;
    }
    .header .right-side .top-box .fb-header {
        display: none;
    }

    .header .left-side img {
        display: block;
        width: 70px;
    }
    .header .right-side .bottom-box {
        padding-top: 0px;
        display: none;
        & ul {
            right: 35px;
            top: 80px;
            li a {
                font-size: 14px;
            }
        }
    }
    #burger-menu {
        display: block;
    }
}
