

// COLORS


// main start
$main-regular: #323264;
$main-alt: #46466e;
$main-soft: #686887;
// main end

// white start
$basic-white: #ffffff;
// white end

// accent start
$accent: #f0145a;
// accent end

// active start
$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
// active end

// grey start
$grey-bg: #f5f5fa;
$grey-bg-alt: #ededf7;
$grey-text: #b3b3ba;
$grey-separator: #e6e6f0;
// grey end

// font weight start
$bold: 700;
// font weight end

// MIXINS

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// templates
* {
    box-sizing: border-box;
}

.gradient-supersoft {
    z-index: 0;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}

.wrapper {
    padding: 0 60px;
}

.hero {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #323264;
}

.h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    z-index: 1;

    .right-side {
        .top-box {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: $basic-white;

            .languages {
                display: flex;
                .language {
                    width: 32px;
                    height: 25px;
                    border-radius: 8px;
                    @include center;
                    cursor: pointer;
                    font-weight: $bold;
                    &.active,
                    &:hover {
                        background-color: $accent;
                    }
                }
            }

            .number-link a {
                font-weight: $bold;
                color: $basic-white;
                text-decoration: none;
            }

            .dot {
                width: 6px;
                height: 6px;
                background-color: $grey-separator;
                border-radius: 50%;
            }
        }

        .bottom-box {
            padding-top: 18.5px;
            ul {
                display: flex;
                gap: 15px;
                justify-content: end;
                a {
                    color: $basic-white;
                    text-decoration: none;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: $bold;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}

