* {
  box-sizing: border-box;
}

.gradient-supersoft {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}

.wrapper {
  padding: 0 60px;
}

.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

body {
  overflow-x: hidden;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  z-index: 1;
  width: 92%;
}
.header .left-side a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .left-side .menu {
  display: none;
}
.header .left-side .burger-menu {
  display: none;
}
.header .right-side .top-box {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .right-side .top-box .dropdown-menu-lang {
  display: flex;
  justify-content: flex-end;
  width: 150px;
}
.header .right-side .top-box .dropdown-menu-lang ul {
  list-style: none;
  display: none;
}
.header .right-side .top-box .dropdown-menu-lang ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 25px;
  cursor: pointer;
}
.header .right-side .top-box .dropdown-menu-lang ul li:hover {
  background: #f0145a;
  border-radius: 8px;
}
.header .right-side .top-box .dropdown-menu-lang ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
}
.header .right-side .top-box .dropdown-menu-lang .title-lang {
  width: 33px;
  height: 25px;
  background: #f0145a;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .right-side .top-box .dropdown-menu-lang.open {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 6px;
}
.header .right-side .top-box .dropdown-menu-lang.open .title-lang {
  width: 33px;
  height: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right-side .top-box .dropdown-menu-lang.open ul {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.header .right-side .top-box .number-link a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.header .right-side .top-box .dot {
  width: 6px;
  height: 6px;
  background-color: #e6e6f0;
  border-radius: 50%;
}
.header .right-side .bottom-box {
  padding-top: 18.5px;
}
.header .right-side .bottom-box ul {
  display: flex;
  gap: 15px;
  justify-content: end;
}
.header .right-side .bottom-box ul a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.header .right-side .bottom-box ul a:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    flex-direction: column-reverse;
  }
  .header .right-side .bottom-box ul {
    position: absolute;
    top: 180px;
  }
}
@media (max-width: 745px) {
  .header {
    width: 90%;
  }
}
@media (max-width: 597px) {
  .header {
    width: 85%;
  }
  .header .right-side .top-box .address {
    display: none;
  }
  .header .right-side .top-box .dot:nth-child(2) {
    display: none;
  }
}
@media (max-width: 555px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 461px) {
  .wrapper {
    padding: 0 30px;
  }
  .header {
    flex-direction: column-reverse;
    padding-top: 0px;
    width: 93%;
  }
  .header .left-side {
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .header .left-side .menu {
    display: block;
  }
  .header .left-side .burger-menu {
    display: block;
  }
  .header .left-side .menu {
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 9999;
    display: none;
    text-align: center;
  }
  .header .left-side .menu li {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
  }
  .header .left-side .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .header .left-side .menu li a:hover {
    color: #f0145a;
  }
  .header .left-side .burger-menu {
    margin-top: 15px;
    cursor: pointer;
  }
  .header .left-side .bar {
    transition: 0.4s;
  }
  .header .left-side .bar:hover .bar-1, .header .left-side .bar:hover .bar-2, .header .left-side .bar:hover .bar-3 {
    border-color: #f0145a;
  }
  .header .left-side .bar-1 {
    width: 5em;
    display: block;
    width: 40px;
    border-top: 6px solid #ffffff;
    padding-top: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .header .left-side .bar-2 {
    width: 5em;
    display: block;
    width: 40px;
    border-top: 6px solid #ffffff;
    padding-top: 5px;
    display: fixed;
    transition: 0.4s;
  }
  .header .left-side .bar-3 {
    width: 5em;
    display: block;
    width: 40px;
    border-top: 6px solid #ffffff;
    padding-top: 5px;
    transition: 0.4s;
  }
  .header .left-side .change .bar-1 {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  .header .left-side .change .bar-2 {
    opacity: 0;
  }
  .header .left-side .change .bar-3 {
    transform: rotate(45deg) translate(-10px, -5px);
  }
  .header .top-box {
    margin-left: -30px;
    padding: 15px;
    background-color: rgba(245, 245, 250, 0.2);
    justify-content: space-between;
  }
  .header .bottom-box {
    display: none;
  }
}
@media (max-width: 420px) {
  .header .right-side .top-box .dropdown-menu-lang {
    justify-content: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .right-side .top-box .number-link {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .right-side ul.top-box {
    background-color: rgba(245, 245, 250, 0.2);
  }
  .header .right-side ul.top-box li .lang-menu {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .right-side .top-box .dot {
    display: none;
  }
  .header .right-side .top-box .fb-header {
    display: none;
  }
  .header .left-side img {
    display: block;
    width: 70px;
  }
}/*# sourceMappingURL=variables.css.map */