* {
  box-sizing: border-box;
}

.gradient-supersoft {
  z-index: 0;
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}

.wrapper {
  padding: 0 60px;
}

.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  z-index: 1;
}
.header .right-side .top-box {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .right-side .top-box .dropdown-menu-lang {
  display: flex;
  justify-content: flex-end;
  width: 150px;
}
.header .right-side .top-box .dropdown-menu-lang ul {
  list-style: none;
  display: none;
}
.header .right-side .top-box .dropdown-menu-lang ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 25px;
}
.header .right-side .top-box .dropdown-menu-lang ul li:hover {
  background: #f0145a;
  border-radius: 8px;
}
.header .right-side .top-box .dropdown-menu-lang ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .right-side .top-box .dropdown-menu-lang .title-lang {
  width: 33px;
  height: 25px;
  background: #f0145a;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .right-side .top-box .dropdown-menu-lang.open {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 6px;
}
.header .right-side .top-box .dropdown-menu-lang.open .title-lang {
  width: 33px;
  height: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .right-side .top-box .dropdown-menu-lang.open ul {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.header .right-side .top-box .number-link a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.header .right-side .top-box .dot {
  width: 6px;
  height: 6px;
  background-color: #e6e6f0;
  border-radius: 50%;
}
.header .right-side .bottom-box {
  padding-top: 18.5px;
}
.header .right-side .bottom-box ul {
  display: flex;
  gap: 15px;
  justify-content: end;
}
.header .right-side .bottom-box ul a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.header .right-side .bottom-box ul a:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}/*# sourceMappingURL=variables.css.map */